################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/APS/.vs
/APS/APS/bin/
/APS/APS/obj/
/APS/APS.UI/bin/
/APS/APS.UI/obj/
/APS/APS.Crawler/bin/
/APS/APS.Crawler/obj/
/APS/APS.Lib/bin/
/APS/APS.Lib/obj/
/APS/APS.VocabularyHelper/bin/
/APS/APS.VocabularyHelper/obj/
